@font-face {
  font-family: "Home Video";
  src: url("/fonts/HomeVideo-BLG6G.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Home Video";
  src: url("/fonts/HomeVideoBold-R90Dv.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}


::selection {
  background: #111;
  color: #fff;
}

.prevent-ios-focus-scrolling {
  position: fixed;
  left: 0;
  right: 0;
}

body {
  margin: 0;
  font-family: "Home Video", "Courier New", Courier, monospace;
  text-rendering: optimizeSpeed;
  letter-spacing: 0;
  font-kerning: none;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  color: #111;
}
